<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Acerca de</title>
</head>
<body>
  <h1>Acerca de</h1>
  <p>Bienvenido a nuestra librería en línea. Aquí podrás encontrar una gran selección de libros de diversos géneros.</p>
</body>
</html>
