<h1>Probando utilizar CSS en la carpeta views...</h1>

<div class="contenedor">
  <img src="img1.jpg" alt="Imagen 1" height="220" width="380">
</div>

<p>Por ahora todo lo que va en esta carpeta <strong>views</strong> será código html del proyecto..</p>

<footer>
    <p>This is a footer</p>
</footer>