<!DOCTYPE HTML>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">             
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&family=Montserrat:ital@0;1&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="lab12.css">
    <%- include('css.ejs') %>
</head>
<body>
    <%- include('body.ejs') %>
</body>
<%- include('script.ejs') %>
</html>