#passwordSegura {
    margin-top: 5px;
}

h1 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.seguridad-debil {
    color: rgb(211, 32, 32);
}

.seguridad-media {
    color: orange;
}

.seguridad-alta {
    color: green;
}

.focused-label {
    color: rgb(106, 151, 255);
}

.mensaje-error{
    color: rgb(150, 26, 14);
}