#passwordSegura {
    margin-top: 5px;
}

.seguridad-debil {
    color: rgb(211, 32, 32);
}

.seguridad-media {
    color: orange;
}

.seguridad-alta {
    color: green;
}

.mensaje-error{
    color: rgb(0, 76, 255);
}